@import "tailwindcss";

@theme inline {
  --color-roxo: #8C2985;
  --color-roxo-escuro: #4E164A;
  --color-laranja-claro: #ff8e17;
  --color-laranja-escuro: #e8731d;
  --color-ciano: #379ab4;
  --color-azul-escuro: #145262;
  --color-preto1: #292929;

  --breakpoint-lg: 1300px;
}
